<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>parsestagram</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

        <script type='text/template' data-template-name='login-signup-template'>
          <h2>Log In</h2>
            <label name="email">Email:</label>
            <input name="email" type="text" class="email" placeholder="email">
            <label name="password">Password:</label>
            <input name="password" type="password" class="password" placeholder="password">
            <input type="submit" value="login">
          <h2>Sign Up</h2>
            <label name="email">Email:</label>
            <input type="email" class="email" placeholder="email">
            <input type="password" class="password" placeholder="password">
            <input class="submit" type="submit" value="create account">
        </script>

        <script type="text/template" data-template-name="posts/create">
        <form>
          <input type="text" placeholder="Title" class="title">
          <input type="file" class="image">
          <input type="submit">
        </form>

        <% if(model.image) { %>
          <img style="width: 200px;" src="<%= model.image %>">
        <% } %>
        </script>

        <script type="text/template" data-template-name="posts/index">
          <ul>
            <% _.each(posts, function(post){ %>
              <li>
               <%= post.title %>
               <% if(post.image) { %>
                <img style="width: 200px;" src="<%= post.image %>">
              <% } %>
              </li>
            <% }); %>
          </ul>
        </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.1.min.js"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

</body>
</html>
